//General style configs to page Home
body {
  height: 100%;
  overflow-y: auto;
  background-color: #e9e5cd;
  color: rgb(96, 96, 96);
  padding: 5rem;
}

.board-grid {
  grid-row-start: auto;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

//----------------------------------------------------------------------------------------------
