//General style configs to page Home
body {
  height: fit-content;
  background-color: #7cbfe3;
  color: white;
  padding: 5rem;
}

.status-grid {
  grid-row-start: auto;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.task-grid {
  grid-row-start: auto;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.footer-buttons {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
//----------------------------------------------------------------------------------------------
