<body>
  <h1></h1>
  <div>
    <div class="status-grid">
      <div class="task-grid">
        <h1>Pendente</h1>
        <p-card
          *ngFor="let task of board?.tasks"
          header="{{ task.title }}"
          subheader="Prazo: {{ task.dueDate }}"
          [style]="{ width: '100%', height: '100%' }"
        >
          <ng-template pTemplate="footer">
            <div class="footer-buttons">
              <p-button
                label="Open"
                [style]="{ width: '100%' }"
              />
              <p-button
                label="Edit"
                severity="secondary"
                [style]="{ width: '100%' }"
              />
            </div>
          </ng-template>
        </p-card>
      </div>
      <div class="task-grid">
        <h1>Em Progresso</h1>
        <p-card
          *ngFor="let task of board?.tasks"
          header="{{ task.title }}"
          subheader="Prazo: {{ task.dueDate }}"
          [style]="{ width: '100%', height: '100%' }"
        >
          <ng-template pTemplate="footer">
            <div class="footer-buttons">
              <p-button
                label="Open"
                [style]="{ width: '100%' }"
              />
              <p-button
                label="Edit"
                severity="secondary"
                [style]="{ width: '100%' }"
              />
            </div>
          </ng-template>
        </p-card>
      </div>
      <div class="task-grid">
        <h1>Concluída</h1>
        <p-card
          *ngFor="let task of board?.tasks"
          header="{{ task.title }}"
          subheader="Prazo: {{ task.dueDate }}"
          [style]="{ width: '100%', height: '100%' }"
        >
          <ng-template pTemplate="footer">
            <div class="footer-buttons">
              <p-button
                label="Open"
                [style]="{ width: '100%' }"
              />
              <p-button
                label="Edit"
                severity="secondary"
                [style]="{ width: '100%' }"
              />
            </div>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</body>