//General style configs to sidebar
body {
  background-color: white;
  padding: 1.5rem;
}

.alert {
  position: absolute;
  left: 80%;
}

.header {
  color: rgb(96, 96, 96);
  height: 10rem;
  flex: auto;
  align-content: center;
}

.boards {
  color: rgb(96, 96, 96);
  height: auto;
  justify-content: space-between;

  h3 {
    margin-bottom: 0.5rem;
  }
}
//----------------------------------------------------------------------------------------------

//PrimeNG components customization to fit the design
:host ::ng-deep .boards .p-button {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
  color: rgb(96, 96, 96);
}

:host ::ng-deep .menu-options .p-button {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 2 0 0 0rem;
  width: 100%;
  text-align: left;
  color: rgb(96, 96, 96);
}

:host ::ng-deep .p-divider {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}
//----------------------------------------------------------------------------------------------
