
//Import for PrimeNG configs.
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
//----------------------------------------------------------------------------------------------

//Configurations to make the main body and sidebar wrap works.
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.page {
  display: table;
  height: 100%;
  width: 100%;

  &__row {
    display: table-row;

    .nav {
      width: 16rem;
      display: table-cell;
      vertical-align: top;
      height: 100%;
    }

    .main {
      height: 100%;
      overflow-y: scroll;
      display: table-cell;
      flex-wrap: wrap;
      vertical-align: top;
      padding: 0 0rem;
    }
  }
}
//----------------------------------------------------------------------------------------------
